<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>About</title>
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <a href="/mainscreen" class="btn btn-primary btn-sm mb-3">Home</a>
        <hr>
        <br>
        <p>Welcome to Reverb City, where music echoes beyond boundaries and unites us all. We believe that music is more than sound—it’s emotion, connection, and pure joy. That’s why we’ve built a space where everyone, from seasoned musicians to curious newcomers, can explore, create, and be inspired.
            Whether you're searching for the perfect vinyl, discovering new instruments, or just soaking in the energy of great music, Reverb City is your home. We champion accessibility, creativity, and community, making music something that everyone can enjoy, regardless of background or experience.
            Here, every chord, beat, and melody is an invitation. So come in, turn up the volume, and let the rhythm move you.</p>
    </div>

</body>
</html>